<div class="container__big-card">
  <div class="big-card__img">
    <img src="https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ=" alt="" >
  </div>
  <div class="big-card__author">
    <h5>Nome do author</h5>
  </div>
  <div class="big-card__title">
    <a href="http://www.google.com.br" target="_blank">
      <h1>AQUI TEXTO DO TITULO</h1>
    </a>
  </div>
  <div class="big-card__description">
    <a href="#">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores ex cupiditate impedit eius fugit consequuntur officiis, ipsam qui recusandae eligendi labore nisi repellat veritatis dolore cumque aspernatur incidunt aliquid? Enim.</p>
    </a>
  </div>
</div>
