.container__menu-title{
  color: white;
}

.container__menu-title > h1{
  margin: 15px 0px;
  font-size: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr{
  margin: 7px 0px;
}


