<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__img">
      <img src="https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ=" alt="" >
    </div>
    <div class="small-card__description">
      <a href="#">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores ex cupiditate impedit eius fugit consequuntur officiis,fugit consequuntur officiis.</p>
      </a>
    </div>
  </div>
  <hr>
</div>
